/* Grid styles */

.container {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto;
}

.row {
    padding: 0 20px;
    margin: 0 auto;
}

.column {
    width: 100%;
}

.w-100 {
    width: 100%;
}